<header>
    <div class="row align-right">
        <div class="medium-4 columns">
            <img src="assets/img/logo.svg" alt="logo">
        </div>
        <div class="medium-4 columns">
            <ul class="menu social align-right">
                <li><a href="#"><i class="fi-social-facebook"></i></a></li>
                <li><a href="#"><i class="fi-social-twitter"></i></a></li>
                <li><a href="#"><i class="fi-social-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</header>