<div class="main-navigation">
    <div class="responsive-menu" data-responsive-toggle="main-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <nav id="main-menu" class="row">
        <ul class="menu vertical expanded text-center">
            <li class="active"><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Send Your Design</a></li>
            <li><a href="">Testimonials</a></li>
        </ul>
    </nav>
</div>