<!-- start header -->
<header class="header">
    <div class="column row">
        <div class="small-6 columns">
            <div class="logo-wrapper">
                <img class="logo" src="{{root}}/assets/img/logo.svg" alt="logo">
            </div>
        </div>
        <div class="contact-number-wrapper">
            <img class="icon-mobile-phone" src="{{root}}/assets/img/fi-mobile.svg" alt="icon">
            <a class="call-toll-free" href="tel:8004921834">Call Toll Free<br>
                <span class="toll-free-number">(800) 492-1834</span></a>
        </div>
    </div>
</header>
<!-- end header -->
