/* --------------------------
custom form styling
-------------------------- */

/* --------------------------
radio buttons
-------------------------- */
label.custom-label {
  width: 100%;
  border-radius: 20px;
  border: 1px solid $light-gray;

  @include breakpoint(small) {
    padding-right: rem-calc(25);
  }
  @include breakpoint(medium) {
    padding-right: rem-calc(25);
  }
  @include breakpoint(large) {
    padding-right: rem-calc(40);
  }
}

/* hide input */
input.radio:empty {
  margin-left: -9999px;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 3em;
  text-indent: 4em;
  margin-top: 2.2em;
  text-align: center;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.8em;
  background: $light-gray;
  border-radius: 20px 0 0 20px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  font-size: 1.3em;
  text-indent: .2em;
  color: $white;
}

input.radio:hover:not(:checked) ~ label {
  color: $dark-gray;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  font-size: 1.2em;
  text-indent: .2em;
  color: darken($success-color, 25);
  background-color: darken($success-color, 5);
}

input.radio:checked ~ label {
  color: darken($success-color, 15);
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 1px darken($success-color, 15);
}