/* ------------------------------------
custom - radio buttons - big buttons
------------------------------------ */
label.custom-label {
  font-size: .95em;
  border-radius: 30px;
  border: 2px solid darken($light-gray, 10);

  @include breakpoint(small) {
    width: 100%;
  }
  @include breakpoint(medium) {
  }
  @include breakpoint(large) {
  }

}

/* hide input */
input.radio:empty {
  margin-left: -9999px;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 3em;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include breakpoint(small) {
    margin-top: .2em;
    margin-bottom: 1em;
    text-align: center;
    text-indent: 1em;
  }
  @include breakpoint(medium) {
    margin-top: 1.85em;
    text-align: left;
    text-indent: 5em;
  }
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.7em;
  background: $light-gray;
  border-radius: 30px 0 0 30px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  font-size: 1.5em;
  text-indent: 1em;
  color: $white;
}

input.radio:hover:not(:checked) ~ label {
  color: $dark-gray;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  font-size: 1.3em;
  text-indent: 1em;
  color: darken($success-color, 25);
  background-color: darken($success-color, 5);
}

input.radio:checked ~ label {
  color: darken($success-color, 22);
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 1px darken($success-color, 22);
}








input {
  &[type=checkbox], &[type=radio] {
    opacity: 1;
    position: relative;
    left: 30px;
    bottom: 8px;

    &:checked + label:before {
      background: $primary-color;
    }

    & + label:before {
      display: inline-block;
      text-align: center;
      line-height: 1;

      border: .9625rem solid $primary-color;
      width: 1rem;
      height: 1rem;
      margin-right: .5rem;

      font-size: 1rem;
      color: white;
      background: white;
    }
  }

  &[type=checkbox] {
    & + label:before {
      content: "\2715";
      padding-right: 1px;
      border-radius: 0.125rem;
    }
  }

  &[type=radio] {
    & + label:before {
      content: "\2713";
      border-radius: 50%;
    }
  }
}







/* ------------------------------------
custom - radio buttons - full color radios
------------------------------------ */

input[type="radio"] {
  display:none;
}
input[type="radio"] + label {
  color: $dark-gray;
  font-family:Arial, sans-serif;
  font-size:14px;
}
input[type="radio"] + label span {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
}

input[type="radio"] + label span {
  background-color:$dark-gray;
}

input[type="radio"]:checked + label span{
  background-color:$primary-color;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}