/* --------------------------
main
-------------------------- */

.what-is-medigap,
.faqs {
  text-align: center;

  @include breakpoint(small) {
    padding: rem-calc(20);
  }
  @include breakpoint(medium) {
    padding: rem-calc(60);
  }

  hr {
    width: 20%;
    height: 1px;
    color: lightgray;
    background-color: lightgray;
    border: none;
  }

}