/* --------------------------
module - phone + zip submit
-------------------------- */

.phone-zip-module {
  text-align: center;
  padding: rem-calc(15);
  margin: rem-calc(0 0 60 0);
  background-color: $white;
  border: 8px solid #d8e0e9;
  max-width: 600px; /* set max width for desktop */

  h4 {
    color: darken($primary-color, 15);
  }

  hr {
    width: 50%;
  }

  a {
    color: $secondary-color;
    font-weight: 600;
    line-height: 1em;
    &:hover {
      color: $primary-color;
    }
    @include breakpoint(small) {
      font-size: 1.7em;
    }
    @include breakpoint(medium) {
      font-size: 2em;
    }
  }

  button.compare-plans {
    font-size: 22px;
    font-weight: 600;
    background-color: $secondary-color;
    color: $white;
    width: 80%;
    padding: rem-calc(10 20);
    border-radius: 30px;
    &:hover {
      background-color: $primary-color;
    }
  }

  img.phone-icon {
    width: 30px;
    height: 30px;
    margin-right: rem-calc(5);
    margin-top: rem-calc(-5);

  }

}
