/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 640px) and (max-device-width : 1024px) {

  h1 {
    font-size: 16px;
    padding-bottom: rem-calc(10);
  }

  h2, h3 {
    font-weight: 600;
    line-height: 1.8em;
    padding-bottom: rem-calc(5);
  }
}


p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
}

.modal-header {
  font-size: 32px;
  color: darken($primary-color, 10);
  margin-bottom: rem-calc(30);
}