.medicare-form {

  .form-container {
    padding: rem-calc(30 80);
    background-color: $white;
    border-radius: 12px;
    border: 2px solid #d8e0e9;
  }

  h3.form-header {
    font-size: 24px;
    text-align: center;
    padding-top: rem-calc(15);
    line-height: 20px;
  }

  p.form-info {
    font-size: 14px;
    text-align: center;
    padding-bottom: rem-calc(30);
  }
}
