#short-form-enter-zip {
  background: url('/assets/img/short-form-bkgd.jpg') no-repeat center center;
  padding: rem-calc(30 0);

}

h2#short-form-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: $white;
}

.find-plans {
  background-color: $secondary-color;
}
