#short-form-enter-zip {
  background: url('../img/short-form-bkgd.jpg') no-repeat center center;
  background-size: cover;
  padding: rem-calc(30 0);
  width: 100%;

  input#zip {
    border-radius: 16px 0 0 16px;
    height: 48px;
  }

  input#zip, input.find-plans {
    height: 48px;
  }

}

h2#short-form-title {
  font-weight: 700;
  text-align: center;
  color: $white;
  @include breakpoint(small) {
    font-size: 1.5em;
    line-height: 1.1em;
  }
  @include breakpoint(medium) {
    font-size: 2.2em;
    line-height: 1.3em;
  }
}

.find-plans {
  background-color: $secondary-color;
  &:hover {
    background-color: $success-color;
  }
}