/* -------------------
hero layout
------------------- */

div.hero {
  position: relative;
  z-index: 1;
  background: url('../img/hero.jpg') no-repeat center center;
  background-size: cover;
  height: 620px;

  .hero-content {
    position: relative;
    z-index: 9999;
    top: 100px;
    left: 30px;
    bottom: 0;
  }

  .hero-list {
    font-weight: 300;
    margin: rem-calc(60 0 60 30);
    line-height: 2.8em;
  }

  img.hero-list-circles-numbers {
    height: 30px;
    width: 30px;
    margin-top: -5px;
    margin-right: 10px;
  }

}

/* -------------------
hero typography
------------------- */

.hero-content {
  color: darken($primary-color,15);

  h1 {
    font-size: 3.7em;
    font-weight: 400;
    line-height: 1em;
  }

  .hero-header-main {
    color: $secondary-color;
  }

  .hero-subheader {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 1em;
    margin-top: -10px;
  }

  ol.hero-list {
    font-size: .95em;
    list-style: circle;
  }

  li {
    font-size: 1.5em;
    list-style: none;
  }
}


/* -------------------
hero form
------------------- */

form.hero-zip-submit {
  margin-top: 20px;
}

#hero-zip-submit-input {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  height: rem-calc(64);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid $secondary-color;
}

button#hero-zip-submit-button {
  position: relative;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  float: right;
  top: -80px;
  right: -40px;
  width: rem-calc(76);
  height: rem-calc(64);
  background-color: $secondary-color;
  border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  &:hover {
    background-color: darken($primary-color, 10);
  }
  .fi-play {
    opacity: 1;
    position: relative;
    font-size: 30px;
    transform: translate(0, 0);
    &:hover {
      transition: 0.4s ease;
      opacity: 1;
      transform: translate(10, 0);
    }
  }
}