#short-form-enter-zip {
  background: url('/assets/img/short-form-bkgd.jpg') no-repeat center center;
  height: 250px;
  padding: 30px;
}

#short-form-title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

// figure this out - can't use global
/*
input {
  border-radius: 20px;
}*/
