<!-- top border -->
<wrapper>
    <row class="collapse top-border">
        <columns small="12"></columns>
    </row>
</wrapper>

<!-- spacer -->
<spacer size="20"></spacer>

<!-- logo and online link -->
<wrapper class="header">
    <center>
        <container>
            <row class="collapse">
                <columns small="6">
                    <img class="logo" src="http://www.medigapquote.org/email/v1/assets/img/logo-150.png" alt="logo medigapquote">
                </columns>
                <columns small="6">
                    <p class="text-right online-version-link"><a href="#">Click here</a> to view online version.</p>
                </columns>
            </row>
        </container>
    </center>
</wrapper>

<spacer size="20"></spacer>