<row class="hero">
    <columns small="12" large="8">

        <spacer size="30"></spacer>

        <h1 class="hero-header">Find Medicare Plans</h1>
        <p class="hero-subheader">...that meet your needs</p>

        <spacer size="10"></spacer>

        <row>
            <columns small="12">
                <ul class="hero-list" style="padding: 0; Margin: 0 0 0 40px;"> <!-- left and right margins only -->
                    <li style="Margin: 10px 0 10px 0;">Get Free Quotes</li> <!-- top and bottom margins only -->
                    <li style="Margin: 0 0 10px 0">Compare Plans</li>
                    <li style="Margin: 0 0 10px 0">Save Time and Money</li>
                </ul>
            </columns>
        </row>

        <row>
            <columns small="12" large="8">
                <button class="secondary radius hero-button-cta" href="#">Get Your Free Quote</button>
            </columns>
        </row>

    </columns>
</row>
