<!-- todo updated form group button on right-->
<!--<form action="submit">
    <div class="row">
        <div class="small-5 small-centered column">
            <div class="input-group">
                <label for="zip"></label>
                <input class="input-group-field" type="number" id="zip">
                <div class="input-group-button">
                    <input type="submit" class="button" value="Find Plans">
                </div>
            </div>
        </div>
    </div>
</form>-->