<!-- start header -->
<header class="header">
    <div class="column row">

        <div class="small-6 medium-6 columns">
            <div class="logo-wrapper">
                <img class="logo" src="assets/img/logo.svg" alt="logo">
            </div>
        </div>

        <div class="small-6 medium-6 columns text-right">
            <div class="contact-number-wrapper">
                <a class="header-toll-free-number hide-for-small-only" href="tel:8004921834">(800) 492-1834</a>
                <a href="tel:8004921834"><img class="icon-mobile-phone" src="assets/img/icon-phone-blue.png" alt="phone icon"></a>
            </div>
        </div>

    </div>
</header>
<!-- end header -->
