<!-- start hero -->
<div class="hero">
    <div class="row">
        <div class="overlay"></div>
        <div class="small-12 medium-12 columns hero-content">

            <!-- start hero content  -->
            <div class="hero-callout">
                <h1 class="hero-header"><span class="hero-header-callout">Compare</span> Medicare Quotes</h1>
                <p class="hero-subheader">... in three simple steps.</p>
            </div>
            <ul class="hero-list">
                <li><img class="hero-list-circles-numbers" src="assets/img/circles-numbers-1.png" alt="1"> Fill out form</li>
                <li><img class="hero-list-circles-numbers" src="assets/img/circles-numbers-2.png" alt="2"> Compare Plans</li>
                <li><img class="hero-list-circles-numbers" src="assets/img/circles-numbers-3.png" alt="3"> Save time & money!</li>
            </ul><!-- end hero content -->

            <!-- start hero form-->
            <form class="hero-zip-submit">
                <div class="row">
                    <div class="small-10 medium-6 large-5 columns">
                        <label>
                            <input type="text" id="hero-zip-submit-input" placeholder="Enter your zip code...">
                        </label>
                            <button id="hero-zip-submit-button" type="submit" class="button"><i class="fi-play"></i></button>
                    </div>
                </div>
            </form><!-- end hero form -->

            <!-- end hero content -->
        </div>
    </div>
</div>
<!-- end hero -->