<script src="//insurance.mediaalpha.com/js/serve.js"></script>
<section style="margin-top:1em; max-width: 920px; margin: auto">
    <div id="ad_unit_placeholder"></div>
    <script type="text/javascript">
        /* Simple Insurance Leads / Medigapquotes  Medicare - Thank you */
        var MediaAlphaExchange = {
            "type": "ad_unit",
            "placement_id": "GJlo4oyehrvT5y2ZP6bHRAGhro04mg",
            "version": "17",
            "sub_1": "test sub id",
            "data": {
                "zip": "<?php echo $_GET['zip'];?>"
            }
        };
        MediaAlphaExchange__load("ad_unit_placeholder");
    </script>
</section>