.intro {

  h4.intro-header {
    font-size: 22px;
    color: $primary-color;
    margin-bottom: 15px;
  }

  .intro-body {
    padding: 0 30px;
  }

}

p {
  color: #575757;
  letter-spacing: .2px;
  font-weight: normal;
}