/*.header-top-border {
  background-color: $primary-color;
}

}*/

.top-border {
  background: $primary-color;
  height: 4px;
}

.header {
  background: $white;

  .columns {
    padding-bottom: 0;
  }

  .online-version-link {
    font-size: 12px;
    padding-top: 5px;
  }

  .wrapper-inner {
    padding: 5px 15px;
  }

  .container {
    background: transparent;
  }

  .logo {
    width: 150px;
    height: auto;
  }

}
